* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
p {
  margin-bottom: 1rem;
}

body {
  background-color: #ecf0f1;
}

/* Styling Nav */

nav {
  background-color: #1abc9c;
  color: #fff;
  max-height: 10vh;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  padding: 1rem;
}

/* Styling Main */
main {
  min-height: 80vh;
  max-width: 768px;
  margin: 1rem auto;
}

/* Styling Footer */
footer {
  padding: 1rem;
  color: #fff;
  max-height: 10vh;
  text-align: center;
  background-color: #1abc9c;
}

/* Styling Hello */
.hello {
  background-color: #fff;
  padding: 2rem 1rem;
  margin: 1rem;
  border-radius: 10px;
}